<li class="attribute resource">
    <h4 class="attribute-name box-title">
        {{#if isItem}}
            <a class="resource-label item-link" data-action="use" data-item-id="{{itemId}}" title="{{localize "ItemfulResources.ActorSheet.UseItem"}}">{{label}}</a>
        {{else}}
            <input name="{{name}}.label" type="text" value="{{label}}" placeholder="{{placeholder}}"/>
        {{/if}}
    </h4>
    {{#if isItem}}
        <a class="resource-label item-link item-edit" data-action="edit" data-item-id="{{itemId}}" title="{{localize "ItemfulResources.ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
    {{/if}}
    <div class="attribute-value">
        <label class="recharge checkbox flexcol">
            <span>{{ localize "DND5E.AbbreviationSR" }}</span>
            <input name="{{name}}.sr" type="checkbox" {{checked sr}} {{#if isItem}}disabled title="{{localize "ItemfulResources.ActorSheet.EditItemToChange"}}"{{/if}} />
        </label>

        <input name="{{name}}.value" type="number" value="{{value}}" placeholder="0" />
        <span class="sep"> / </span>
        <input name="{{name}}.max" type="number" value="{{max}}" placeholder="0" {{#if isItem}}disabled title="{{localize "ItemfulResources.ActorSheet.EditItemToChange"}}"{{/if}} />

        <label class="recharge checkbox flexcol">
            <span>{{ localize "DND5E.AbbreviationLR" }}</span>
            <input name="{{name}}.lr" type="checkbox" {{checked lr}}  {{#if isItem}}disabled title="{{localize "ItemfulResources.ActorSheet.EditItemToChange"}}"{{/if}}/>
        </label>
    </div>
</li>
